/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing:border-box
}
.testimonial{
	display:grid;
	grid-template-rows:repeat(2,1fr);
	height:300px;
	width:680px;
    padding:30px 30px;
	background-color:#f5f5f5;
}
.text{
	border:2px solid gray;
	background-color:white;
	padding:25px 10px;
	margin-bottom:10px
}
.text p{
	text-align:right;
	font-style:italic
}
.author{
	border:2px solid gray;
	background-color:white;
	padding:25px 10px;
}
.author p{
	text-align:right;
	font-style:italic
}